#container{
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 20%;
    margin: 10px 0 10px 0;
    background-color: aliceblue
}

ul {font-size: 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main{
    width: 80%;
    margin: 10px 0 10px 0;
}

/*
.subtitle{

}

.content{

}

.third{

}

.second{

}

.first{

}
*/

.tenmei{
    background-color: #ff0000e0;
    padding: 16px;
    color: #FFFFFF;
}

/*
.pic{

}

p{

}
*/