#container{
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: row;
    width: 12%;
    padding: 6px 20px 6px 0;
    margin: 10px 10px 10px 10px;
    background-color: rgba(129, 127, 205, 0.846)
}

ul {font-size: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.main{
    width: 82%;
    padding: 4px 4px 10px 4px;
    margin: 14px 20px 10px 28px;
}

/*
.subtitle{

}

.content{

}

.third{

}

.second{

}

.first{

}
*/

.tenmei{
    background-color: #cf121289;
    padding: 3px 2px 3px 2px;
    margin: 30px 0 20px 0;
    color: #FFFFFF;
}

.pic{/*おそらく意味なし*/
    width: 800px;
}

.thirdimfo{
    display: flex;
    flex-direction: row;
}

.secondimfo{
    display: flex;
    flex-direction: row;
}

.firstimfo{
    display: flex;
    flex-direction: row;
}

.map{/*おそらく意味なし*/
    width: 550px;
}

/*
p{

}
*/